################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

#Admin Uploaded Pictures
computer-shop-backend/AdminPictures/*
